<a href="https://colab.research.google.com/github/data602sps/assignments/blob/master/05_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**

# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section. 

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html 

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

This dataset was sourced from NYC Open Data and is an annual report from 2017-2018 concerning computer science education in NYC. This report provides information about the number of computer science courses offered and the number of students enrolled each year. It is important to note that this data is self-reported by each school as required by NYC Local Law 177. 

The source of this data can be found in the link below: 
https://data.cityofnewyork.us/Education/2017-2018-Computer-Science-Report-LL177/gnum-kz6r

I chose this dataset because it is increasingly becoming important to prepare the student for careers in STEM fields. As more fields embrace engineering, technology, and mathematics, it would be interesting to see if students continue developing these skills as they progress into their high school years and how well the education system provides this education. The dataset uses classes in computer science, which is a blend of many STEM disciplines, to assess the interest and provision in STEM related education.

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

In [403]:
import pandas as pd
CS = pd.read_csv('https://data.cityofnewyork.us/resource/gnum-kz6r.csv')

**The first 5 rows are displayed of pandas dataframe CS**

In [404]:
CS.head()

,category_type,category_values,of_students_all_grades,students_taking_cs_all_grades,students_taking_cs_citywide,within_cs_all_grades,of_students_grades_k_5,students_taking_cs_grades,students_taking_cs_citywide_1,within_cs_grades_k_5,of_students_grades_6_8,students_taking_cs_grades_1,students_taking_cs_citywide_2,within_cs_grades_6_8,of_students_grades_6_8_1,students_taking_cs_grades_2,students_taking_cs_citywide_3,within_cs_grades_6_8_1
0,District,01,11088,1241,11.2,0.9,5175,347,6.7,0.5,2468,310,12.6,1.0,3445,584,17.0,2.2
1,District,02,61641,7270,11.8,5.4,17856,2670,15.0,3.5,8002,498,6.2,1.6,35783,4102,11.5,15.7
2,District,03,21770,1695,7.8,1.3,8508,730,8.6,1.0,4336,517,11.9,1.6,8926,448,5.0,1.7
3,District,04,12618,866,6.9,0.6,5920,204,3.4,0.3,2982,364,12.2,1.1,3716,298,8.0,1.1
4,District,05,10791,963,8.9,0.7,4759,574,12.1,0.7,2360,185,7.8,0.6,3672,204,5.6,0.8

**For the categorial columns, columns 1 and 2, the unique values are displyed below. For `category_type`, the different categories are used to aggregate statistics.**

In [405]:
CS.category_type.unique()

array(['District', 'Borough', 'Economic Disadvantaged Status',
       'English Language Learner Status', 'Ethnicity', 'Gender',
       'Student with Disability Status', 'Total'], dtype=object)

**The `category_values` column, denotes the district values used to aggregate statistics.**

In [406]:
CS.category_values.unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '75',
       'Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'Economic Disadvantaged', 'Non Economic Disadvantaged',
       'English Language Learners', 'Non English Language Learners',
       'Asian', 'Black', 'Hispanic', 'Multi-Racial', 'Native American',
       'White', 'Female', 'Male', 'Students with Disabilities',
       'Students without Disabilities', nan], dtype=object)

**The dataframe CS has 53 rows and 18 columns**

In [407]:
print(CS.shape)

(53, 18)

**The following lists the variables considered in this dataset**

In [408]:
print(CS.columns)

Index(['category_type', 'category_values', 'of_students_all_grades',
       'students_taking_cs_all_grades', 'students_taking_cs_citywide',
       'within_cs_all_grades', 'of_students_grades_k_5',
       'students_taking_cs_grades', 'students_taking_cs_citywide_1',
       'within_cs_grades_k_5', 'of_students_grades_6_8',
       'students_taking_cs_grades_1', 'students_taking_cs_citywide_2',
       'within_cs_grades_6_8', 'of_students_grades_6_8_1',
       'students_taking_cs_grades_2', 'students_taking_cs_citywide_3',
       'within_cs_grades_6_8_1'],
      dtype='object')

**CS is checked to see if there are any missing data. There appears to be one null value under the categorical column, `category_values`. The total number of missing values is 1 under this column.**

In [409]:
# check to see if there are any missing data
print("The total number of columns with missing values are",format(AP.isnull().any().sum()))
print(CS.isnull().any()) ## The isnull method will provide a bool output of columns with null values

print("The total number of values with null values are listed below")
print(CS.isnull().sum().sort_values(ascending = False))

(CS.iloc[:,[0,1,2,3,4]]==0).sum() #check to see if there are any zeros in places that don't make sense

The total number of columns with missing values are 1
category_type                    False
category_values                   True
of_students_all_grades           False
students_taking_cs_all_grades    False
students_taking_cs_citywide      False
within_cs_all_grades             False
of_students_grades_k_5           False
students_taking_cs_grades        False
students_taking_cs_citywide_1    False
within_cs_grades_k_5             False
of_students_grades_6_8           False
students_taking_cs_grades_1      False
students_taking_cs_citywide_2    False
within_cs_grades_6_8             False
of_students_grades_6_8_1         False
students_taking_cs_grades_2      False
students_taking_cs_citywide_3    False
within_cs_grades_6_8_1           False
dtype: bool
The total number of values with null values are listed below
category_values                  1
category_type                    0
students_taking_cs_citywide_3    0
students_taking_cs_grades_2      0
of_students_grades_6_8_1         0
within_cs_grades_6_8             0
students_taking_cs_citywide_2    0
students_taking_cs_grades_1      0
of_students_grades_6_8           0
within_cs_grades_k_5             0
students_taking_cs_citywide_1    0
students_taking_cs_grades        0
of_students_grades_k_5           0
within_cs_all_grades             0
students_taking_cs_citywide      0
students_taking_cs_all_grades    0
of_students_all_grades           0
within_cs_grades_6_8_1           0
dtype: int64

category_type                    0
category_values                  0
of_students_all_grades           0
students_taking_cs_all_grades    0
students_taking_cs_citywide      0
dtype: int64

The following shows summary statistics for each variable. 
To review a few variables here:
The mean percent of students taking computer science classes on a city-wide level is 13.4% with a median of 13.6%. This distribution is generally bell shaped and normally distributed. 
The mean percent of students taking computer science classes for grades k-5 is 15.1% and the median is 4.1%. This distribution is skewed to the left and there are more exceptional points to the left. 
The mean percent of students taking computer science classes city-wide from 6-8th grade is 8.3% and 8.2% for the median. Interestingly enough, the distribution is normal as students advance to 6-8th grade.

In [410]:
CS.describe()

,of_students_all_grades,students_taking_cs_all_grades,students_taking_cs_citywide,within_cs_all_grades,of_students_grades_k_5,students_taking_cs_grades,students_taking_cs_citywide_1,within_cs_grades_k_5,of_students_grades_6_8,of_students_grades_6_8_1,students_taking_cs_grades_2,students_taking_cs_citywide_3,within_cs_grades_6_8_1
count,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000
mean,145434.169811,20296.339623,13.375472,15.086792,67359.849057,11577.056604,16.186792,15.098113,31873.584906,46200.735849,3935.000000,8.309434,15.071698
std,226636.442260,31943.989637,5.889623,23.747850,103976.928516,18158.119889,10.669007,23.673082,50039.068145,72898.348017,6384.626144,3.759565,24.457690
min,6325.000000,498.000000,2.800000,0.400000,3209.000000,12.000000,0.100000,0.000000,1006.000000,1460.000000,50.000000,1.100000,0.200000
25%,21354.000000,1661.000000,9.600000,1.200000,8574.000000,825.000000,9.300000,1.100000,4686.000000,6331.000000,448.000000,5.900000,1.700000
50%,38391.000000,6112.000000,13.600000,4.500000,18052.000000,3138.000000,15.600000,4.100000,8570.000000,11715.000000,1081.000000,8.200000,4.100000
75%,170661.000000,24199.000000,16.700000,18.000000,85821.000000,13216.000000,21.200000,17.200000,37916.000000,57244.000000,4102.000000,9.500000,15.700000
max,963973.000000,134507.000000,35.000000,100.000000,446271.000000,76699.000000,64.200000,100.000000,211213.000000,306489.000000,26105.000000,21.300000,100.000000

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. 
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

**The dataframe is subsetted to contain the percentage columns only**

In [499]:
CS_sub = CS.iloc[:,[0,1,4,5,6,7,9,12,13]].copy()
CS_sub.head()

,category_type,category_values,students_taking_cs_citywide,within_cs_all_grades,of_students_grades_k_5,students_taking_cs_grades,within_cs_grades_k_5,students_taking_cs_citywide_2,within_cs_grades_6_8
0,District,01,11.2,0.9,5175,347,0.5,12.6,1.0
1,District,02,11.8,5.4,17856,2670,3.5,6.2,1.6
2,District,03,7.8,1.3,8508,730,1.0,11.9,1.6
3,District,04,6.9,0.6,5920,204,0.3,12.2,1.1
4,District,05,8.9,0.7,4759,574,0.7,7.8,0.6

In [500]:
print(CS_sub.columns)

Index(['category_type', 'category_values', 'students_taking_cs_citywide',
       'within_cs_all_grades', 'of_students_grades_k_5',
       'students_taking_cs_grades', 'within_cs_grades_k_5',
       'students_taking_cs_citywide_2', 'within_cs_grades_6_8'],
      dtype='object')

**As seen by the labeling of columns, some of the symbols such as %  and # did not carry through. That will be corrected here.** 

**1. Modify multiple column names.**

In [501]:
CS_sub.rename(columns = {'students_taking_cs_citywide': 'percent_students_taking_cs_citywide',
                     'within_cs_all_grades': 'percent_within_cs_all_grades',
                     'of_students_grades_k_5': 'num_of_students_grades_k_5',
                     'students_taking_cs_grades': 'num_students_taking_cs_grades_k_5',
                     'within_cs_grades_k_5': 'percent_within_cs_grades_k_5',
                     'students_taking_cs_citywide_2': 'percent_students_taking_cs_grades_6_8',
                     'within_cs_grades_6_8': 'percent_within_cs_grades_6_8'}, inplace = True)

CS_sub.head()

,category_type,category_values,percent_students_taking_cs_citywide,percent_within_cs_all_grades,num_of_students_grades_k_5,num_students_taking_cs_grades_k_5,percent_within_cs_grades_k_5,percent_students_taking_cs_grades_6_8,percent_within_cs_grades_6_8
0,District,01,11.2,0.9,5175,347,0.5,12.6,1.0
1,District,02,11.8,5.4,17856,2670,3.5,6.2,1.6
2,District,03,7.8,1.3,8508,730,1.0,11.9,1.6
3,District,04,6.9,0.6,5920,204,0.3,12.2,1.1
4,District,05,8.9,0.7,4759,574,0.7,7.8,0.6

**2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.**

**The datatype for each variable is appropriate for this study. The last two variables, `percent_students_taking_cs_grades_6_8` and `percent_within_cs_grades_6_8` are objects, and they really should be floats. This is investigated further next.**

In [502]:
print(CS_sub.dtypes) # The data type of each variable is printed.

category_type                             object
category_values                           object
percent_students_taking_cs_citywide      float64
percent_within_cs_all_grades             float64
num_of_students_grades_k_5                 int64
num_students_taking_cs_grades_k_5          int64
percent_within_cs_grades_k_5             float64
percent_students_taking_cs_grades_6_8     object
percent_within_cs_grades_6_8              object
dtype: object

**Upon further investigation, it looks like all numbers are strings and there is actually an 's' value for some values. These values will be set to null and all integers will be converted to floats.**

In [503]:
CS_sub['percent_students_taking_cs_grades_6_8'].unique()

array(['12.6', '6.2', '11.9', '12.2', '7.8', '11.4', '8.3', '10.6', '8.6',
       '8.2', '1.9', '15.1', '9.4', '23.7', 's', '23.1', '21.0', '14.2',
       '16.8', '34.5', '5.5', '15.7', '6.7', '40.5', '26.7', '5.8',
       '23.5', '30.9', '14.3', '5.4', '7.7', '9.8', '17.5', '30.0',
       '14.0', '18.4', '15.4', '17.7', '11.1', '13.1', '14.9', '12.4',
       '22.9', '14.8', '15.2', '15.6', '15.0'], dtype=object)

In [504]:
print('There are',(CS_sub['percent_students_taking_cs_grades_6_8']=='s').sum(),'instances in which the string s occurs')

There are 2 instances in which the string s occurs

**Since there are only 2 instances among 52 data points, it is recommended to drop the rows. The impact to the overall statistics should be insignificant. These rows will be dropped for `percent_within_cs_grades_6_8` as well since the same rows contained the string s**

In [333]:
CS_sub = CS_sub[CS_sub['percent_students_taking_cs_grades_6_8']!='s']
CS_sub = CS_sub['percent_students_taking_cs_grades_6_8'].astype(float)
CS_sub = CS_sub['percent_within_cs_grades_6_8 '].astype(float)

KeyError: 'percent_students_taking_cs_grades_6_8'

In [506]:
CS_sub.dtypes

category_type                             object
category_values                           object
percent_students_taking_cs_citywide      float64
percent_within_cs_all_grades             float64
num_of_students_grades_k_5                 int64
num_students_taking_cs_grades_k_5          int64
percent_within_cs_grades_k_5             float64
percent_students_taking_cs_grades_6_8    float64
percent_within_cs_grades_6_8             float64
dtype: object

**3. Fix missing and invalid values in data.**

**As demonstrated in the Data Exploration section of this study, there is only one null value in the categorical column `category_values`. The location of the null value is in the last row. Since there are not a significant amount of values missing and this particular value is categorical, the null is ignored. This null will not affect the agregate stastics in this analysis.**

In [507]:
print(CS_sub[CS_sub['category_values'].isnull()].index)

Int64Index([52], dtype='int64')

**Next, a check is performed to see if there are any zeros in places that do not make sense.**

**There are no zeros in the categorical columns**

In [508]:
(CS_sub.iloc[:,[0,1]]==0).sum()

category_type      0
category_values    0
dtype: int64

**4. Create new columns based on existing columns or calculations.**

**CS_sub contains two kinds of variables; percent within CS, which is the percent of students of that category type or value taking CS, and percent students taking CS. The dataset already calculated the percent of students taking CS for grades 6-8 but this column is missing for grades K-5. So this will be manually calculated into a new column `percent_students_taking_cs_grades_k_5` by dividing `num_of_students_grades_k_5` by `num_of_students_taking_cs_grades_k_5`.**

In [525]:
CS_sub['percent_students_taking_cs_grades_k_5'] = ((CS_sub['num_students_taking_cs_grades_k_5']/CS_sub['num_of_students_grades_k_5'])*100).apply(lambda x: round(x, 1))
CS_sub.head()

,category_type,category_values,percent_students_taking_cs_citywide,percent_within_cs_all_grades,num_of_students_grades_k_5,num_students_taking_cs_grades_k_5,percent_within_cs_grades_k_5,percent_students_taking_cs_grades_6_8,percent_within_cs_grades_6_8,percent_students_taking_cs_grades_k_5,diff_of_percentage
0,District,01,11.2,0.9,5175,347,0.5,12.6,1.0,6.7,-12.5
1,District,02,11.8,5.4,17856,2670,3.5,6.2,1.6,15.0,-6.1
2,District,03,7.8,1.3,8508,730,1.0,11.9,1.6,8.6,-11.8
3,District,04,6.9,0.6,5920,204,0.3,12.2,1.1,3.4,-12.2
4,District,05,8.9,0.7,4759,574,0.7,7.8,0.6,12.1,-7.7

**Another column is created `diff_of_percentage`, which will calculate the difference in the percentage of students taking CS classes of grades K-5 and grades 6-8.

In [526]:
CS_sub['diff_of_percentage'] = CS_sub['percent_students_taking_cs_grades_k_5']-CS_sub['percent_students_taking_cs_grades_6_8']
CS_sub.head()

,category_type,category_values,percent_students_taking_cs_citywide,percent_within_cs_all_grades,num_of_students_grades_k_5,num_students_taking_cs_grades_k_5,percent_within_cs_grades_k_5,percent_students_taking_cs_grades_6_8,percent_within_cs_grades_6_8,percent_students_taking_cs_grades_k_5,diff_of_percentage
0,District,01,11.2,0.9,5175,347,0.5,12.6,1.0,6.7,-5.9
1,District,02,11.8,5.4,17856,2670,3.5,6.2,1.6,15.0,8.8
2,District,03,7.8,1.3,8508,730,1.0,11.9,1.6,8.6,-3.3
3,District,04,6.9,0.6,5920,204,0.3,12.2,1.1,3.4,-8.8
4,District,05,8.9,0.7,4759,574,0.7,7.8,0.6,12.1,4.3

**5. Drop column(s) from your dataset.**

**The columns `num_of_students_grades_k_5` and `num_students_taking_cs_grades_k_5` will be dropped since it was already used to create the column of interest; percentage of student in grades k-5 who are taking CS classes.**

In [527]:
CS_sub.drop(columns = ['num_of_students_grades_k_5', 'num_students_taking_cs_grades_k_5'])
CS_sub.head()

,category_type,category_values,percent_students_taking_cs_citywide,percent_within_cs_all_grades,num_of_students_grades_k_5,num_students_taking_cs_grades_k_5,percent_within_cs_grades_k_5,percent_students_taking_cs_grades_6_8,percent_within_cs_grades_6_8,percent_students_taking_cs_grades_k_5,diff_of_percentage
0,District,01,11.2,0.9,5175,347,0.5,12.6,1.0,6.7,-5.9
1,District,02,11.8,5.4,17856,2670,3.5,6.2,1.6,15.0,8.8
2,District,03,7.8,1.3,8508,730,1.0,11.9,1.6,8.6,-3.3
3,District,04,6.9,0.6,5920,204,0.3,12.2,1.1,3.4,-8.8
4,District,05,8.9,0.7,4759,574,0.7,7.8,0.6,12.1,4.3

**6. Drop a row(s) from your dataset.**

**Any row that does not have a category type "District" will be dropped.**

In [528]:
CS_district = CS_sub.loc[CS_sub['category_type']=='District']
CS_district.head()

,category_type,category_values,percent_students_taking_cs_citywide,percent_within_cs_all_grades,num_of_students_grades_k_5,num_students_taking_cs_grades_k_5,percent_within_cs_grades_k_5,percent_students_taking_cs_grades_6_8,percent_within_cs_grades_6_8,percent_students_taking_cs_grades_k_5,diff_of_percentage
0,District,01,11.2,0.9,5175,347,0.5,12.6,1.0,6.7,-5.9
1,District,02,11.8,5.4,17856,2670,3.5,6.2,1.6,15.0,8.8
2,District,03,7.8,1.3,8508,730,1.0,11.9,1.6,8.6,-3.3
3,District,04,6.9,0.6,5920,204,0.3,12.2,1.1,3.4,-8.8
4,District,05,8.9,0.7,4759,574,0.7,7.8,0.6,12.1,4.3

**7. Sort your data based on multiple variables.**

In [529]:
CS_district = CS_district.sort_values(by = ['percent_students_taking_cs_citywide','percent_within_cs_all_grades'], ascending = [True, True])
CS_district.head()

,category_type,category_values,percent_students_taking_cs_citywide,percent_within_cs_all_grades,num_of_students_grades_k_5,num_students_taking_cs_grades_k_5,percent_within_cs_grades_k_5,percent_students_taking_cs_grades_6_8,percent_within_cs_grades_6_8,percent_students_taking_cs_grades_k_5,diff_of_percentage
11,District,12,2.8,0.5,11225,12,0.0,1.9,0.3,0.1,-1.8
32,District,75,3.9,0.8,11321,374,0.5,5.4,0.9,3.3,-2.1
10,District,11,4.3,1.2,19915,748,1.0,8.6,2.6,3.8,-4.8
6,District,07,4.5,0.6,7690,24,0.0,8.3,0.9,0.3,-8.0
7,District,08,5.5,1.1,13214,539,0.7,10.6,2.1,4.1,-6.5

**8. Filter your data based on some condition.**

**CS_district dataframe is filtered to contain rows with `percent_students_taking_cs_grades_k_5` > 0.0 only.**

In [530]:
CS_district = CS_district[CS_district['percent_students_taking_cs_grades_k_5']>0.0]
CS_district.head()

,category_type,category_values,percent_students_taking_cs_citywide,percent_within_cs_all_grades,num_of_students_grades_k_5,num_students_taking_cs_grades_k_5,percent_within_cs_grades_k_5,percent_students_taking_cs_grades_6_8,percent_within_cs_grades_6_8,percent_students_taking_cs_grades_k_5,diff_of_percentage
11,District,12,2.8,0.5,11225,12,0.0,1.9,0.3,0.1,-1.8
32,District,75,3.9,0.8,11321,374,0.5,5.4,0.9,3.3,-2.1
10,District,11,4.3,1.2,19915,748,1.0,8.6,2.6,3.8,-4.8
6,District,07,4.5,0.6,7690,24,0.0,8.3,0.9,0.3,-8.0
7,District,08,5.5,1.1,13214,539,0.7,10.6,2.1,4.1,-6.5

**9. Convert all the string values to upper or lower cases in one column.**

**The string values in `category_type` will be converted to be all lower case.**

In [544]:
CS_district['category_type'] = CS_district['category_type'].apply(lambda x: x.lower())
CS_district.head()

,category_type,category_values,percent_students_taking_cs_citywide,percent_within_cs_all_grades,num_of_students_grades_k_5,num_students_taking_cs_grades_k_5,percent_within_cs_grades_k_5,percent_students_taking_cs_grades_6_8,percent_within_cs_grades_6_8,percent_students_taking_cs_grades_k_5,diff_of_percentage
11,district,12,2.8,0.5,11225,12,0.0,1.9,0.3,0.1,-1.8
32,district,75,3.9,0.8,11321,374,0.5,5.4,0.9,3.3,-2.1
10,district,11,4.3,1.2,19915,748,1.0,8.6,2.6,3.8,-4.8
6,district,07,4.5,0.6,7690,24,0.0,8.3,0.9,0.3,-8.0
7,district,08,5.5,1.1,13214,539,0.7,10.6,2.1,4.1,-6.5

**10. Check whether numeric values are present in a given column of your dataframe.**

**I would like to check if district 10 is in this dataset.**

In [532]:
print('There are',(CS_district['category_values'] == 10).sum(),'values containing 10')

There are 0 values containing 10

**I would like to check how many values are greater than 10% for `percent_students_taking_cs_grades_6_8` and `percent_students_taking_cs_grades_k_5`**

In [555]:
print('There are', (CS_district['percent_students_taking_cs_grades_6_8'] >= 10.0).sum(), 'values greater than 10%')

There are 19 values greater than 10%

In [556]:
print('There are',(CS_district['percent_students_taking_cs_grades_k_5'] >=10.0).sum(),'values greater than 10%')

There are 17 values greater than 10%

**11. Group your dataset by one column, and get the mean, min, and max values by group.** 
  * Groupby()
  * agg() or .apply()


**The original CS dataframe is grouped by category type and category values.**

**Since CS_district has only one unique district per value in dataframe, the original CS dataframe is used to perform the groupby() method. In this case, the values are grouped by `category_type` and `category_values`. The agg() method is used to calculate the mean, min, and max accross all groups for the percentage of students who are taking a CS course. Overall, an average of 13% of students of all grades are taking a CS class. The min among groups is 2% and max among all groups is 35%.

In [582]:
CS.groupby(['category_type']).first().agg({'students_taking_cs_citywide':['mean','min','max']})

      students_taking_cs_citywide
mean                      12.7875
min                        6.5000
max                       20.1000

**12. Group your dataset by two columns and then sort the aggregated results within the groups.** 

**The dataframe CS is used for this exercise again and this time is grouped by `category_type` and `percent_of students_taking_cs_citywide`. The percentages are sorted in ascending order.

In [591]:
CS.groupby(['category_type','students_taking_cs_citywide'], sort = True).first()

                                                                           category_values  \
category_type                   students_taking_cs_citywide
Borough                         6.5                                                  Bronx
                                9.6                                              Manhattan
                                14.2                                              Brooklyn
                                19.8                                                Queens
                                20.8                                         Staten Island
District                        2.8                                                     12
                                3.9                                                     75
                                4.3                                                     11
                                4.5                                                     07
                                5.5                                                     08
                                5.7                                                     23
                                6.9                                                     04
                                7.1                                                     06
                                7.8                                                     03
                                8.0                                                     32
                                8.6                                                     09
                                8.9                                                     05
                                10.1                                                    10
                                10.3                                                    21
                                11.2                                                    01
                                11.7                                                    17
                                11.8                                                    02
                                12.5                                                    15
                                12.7                                                    19
                                15.1                                                    14
                                15.4                                                    24
                                15.8                                                    30
                                16.0                                                    16
                                16.3                                                    29
                                16.7                                                    13
                                17.6                                                    28
                                17.8                                                    18
                                18.1                                                    20
                                18.3                                                    22
                                19.7                                                    27
                                21.3                                                    31
                                25.7                                                    25
                                35.0                                                    26
Economic Disadvantaged Status   13.0                                Economic Disadvantaged
                                17.0                            Non Economic Disadvantaged
English Language Learner Status 12.1                             English Language Learners
                                14.3                         Non English Language Learners
Ethnicity                       11.0                                                 Black
                                11.5                                              Hispanic
                                14.3                                       Native American
                                15.7                                          Multi-Racial
                                17.7                                                 White
                                20.1                                                 Asian
Gender                          13.6                                                Female
                                14.3                                                  Male
Student with Disability Status  11.8                            Students with Disabilities
                                14.5                         Students without Disabilities
Total                           14.0                                                  None

                                                             of_students_all_grades  \
category_type                   students_taking_cs_citywide
Borough                         6.5                                          201296
                                9.6                                          142591
                                14.2                                         277546
                                19.8                                         281152
                                20.8                                          61388
District                        2.8                                           22656
                                3.9                                           26275
                                4.3                                           38391
                                4.5                                           18401
                                5.5                                           27318
                                5.7                                            8694
                                6.9                                           12618
                                7.1                                           21354
                                7.8                                           21770
                                8.0                                           10662
                                8.6                                           33388
                                8.9                                           10791
                                10.1                                          53991
                                10.3                                          34798
                                11.2                                          11088
                                11.7                                          20938
                                11.8                                          61641
                                12.5                                          30697
                                12.7                                          21512
                                15.1                                          17619
                                15.4                                          57548
                                15.8                                          38548
                                16.0                                           6325
                                16.3                                          26026
                                16.7                                          20560
                                17.6                                          40184
                                17.8                                          14766
                                18.1                                          50896
                                18.3                                          33418
                                19.7                                          42997
                                21.3                                          59364
                                25.7                                          37139
                                35.0                                          31600
Economic Disadvantaged Status   13.0                                         728807
                                17.0                                         235166
English Language Learner Status 12.1                                         154938
                                14.3                                         809035
Ethnicity                       11.0                                         221735
                                11.5                                         395134
                                14.3                                          10457
                                15.7                                           9468
                                17.7                                         152745
                                20.1                                         170661
Gender                          13.6                                         464681
                                14.3                                         499292
Student with Disability Status  11.8                                         204955
                                14.5                                         759018
Total                           14.0                                         963973

                                                             students_taking_cs_all_grades  \
category_type                   students_taking_cs_citywide
Borough                         6.5                                                  13015
                                9.6                                                  13752
                                14.2                                                 39421
                                19.8                                                 55561
                                20.8                                                 12758
District                        2.8                                                    628
                                3.9                                                   1035
                                4.3                                                   1661
                                4.5                                                    826
                                5.5                                                   1502
                                5.7                                                    498
                                6.9                                                    866
                                7.1                                                   1513
                                7.8                                                   1695
                                8.0                                                    855
                                8.6                                                   2858
                                8.9                                                    963
                                10.1                                                  5435
                                10.3                                                  3569
                                11.2                                                  1241
                                11.7                                                  2448
                                11.8                                                  7270
                                12.5                                                  3827
                                12.7                                                  2723
                                15.1                                                  2669
                                15.4                                                  8871
                                15.8                                                  6073
                                16.0                                                  1013
                                16.3                                                  4247
                                16.7                                                  3434
                                17.6                                                  7059
                                17.8                                                  2630
                                18.1                                                  9236
                                18.3                                                  6112
                                19.7                                                  8460
                                21.3                                                 12658
                                25.7                                                  9563
                                35.0                                                 11069
Economic Disadvantaged Status   13.0                                                 94579
                                17.0                                                 39928
English Language Learner Status 12.1                                                 18676
                                14.3                                                115831
Ethnicity                       11.0                                                 24372
                                11.5                                                 45475
                                14.3                                                  1494
                                15.7                                                  1485
                                17.7                                                 27078
                                20.1                                                 34253
Gender                          13.6                                                 63002
                                14.3                                                 71505
Student with Disability Status  11.8                                                 24199
                                14.5                                                110308
Total                           14.0                                                134507

                                                             within_cs_all_grades  \
category_type                   students_taking_cs_citywide
Borough                         6.5                                           9.7
                                9.6                                          10.2
                                14.2                                         29.3
                                19.8                                         41.3
                                20.8                                          9.5
District                        2.8                                           0.5
                                3.9                                           0.8
                                4.3                                           1.2
                                4.5                                           0.6
                                5.5                                           1.1
                                5.7                                           0.4
                                6.9                                           0.6
                                7.1                                           1.1
                                7.8                                           1.3
                                8.0                                           0.6
                                8.6                                           2.1
                                8.9                                           0.7
                                10.1                                          4.0
                                10.3                                          2.7
                                11.2                                          0.9
                                11.7                                          1.8
                                11.8                                          5.4
                                12.5                                          2.8
                                12.7                                          2.0
                                15.1                                          2.0
                                15.4                                          6.6
                                15.8                                          4.5
                                16.0                                          0.8
                                16.3                                          3.2
                                16.7                                          2.6
                                17.6                                          5.2
                                17.8                                          2.0
                                18.1                                          6.9
                                18.3                                          4.5
                                19.7                                          6.3
                                21.3                                          9.4
                                25.7                                          7.1
                                35.0                                          8.2
Economic Disadvantaged Status   13.0                                         70.3
                                17.0                                         29.7
English Language Learner Status 12.1                                         13.9
                                14.3                                         86.1
Ethnicity                       11.0                                         18.1
                                11.5                                         33.8
                                14.3                                          1.1
                                15.7                                          1.1
                                17.7                                         20.1
                                20.1                                         25.5
Gender                          13.6                                         46.8
                                14.3                                         53.2
Student with Disability Status  11.8                                         18.0
                                14.5                                         82.0
Total                           14.0                                        100.0

                                                             of_students_grades_k_5  \
category_type                   students_taking_cs_citywide
Borough                         6.5                                           98102
                                9.6                                           54238
                                14.2                                         130754
                                19.8                                         134141
                                20.8                                          29036
District                        2.8                                           11225
                                3.9                                           11321
                                4.3                                           19915
                                4.5                                            7690

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?

Based on this cursory look at this dataset, I noticed that students between K-5th grades are slightly more likely to take more CS courses than students grades 6-8. If I had more time, I would like to explore the other dataset provided, which looks into what the school offers for CS related classes. I would imagine the percentage of students taking CS related courses is directly effected by the nature of the school's STEM institute and the number of STEM qualified instructors. Finally, from a overall percentage point of view, the student who is not economically disadvantaged, male, without disabilities, who is a non engligh learner, who attends a school in staten island has the highest chance of taking a computer science related course based on this data.